body{
	overflow-x: hidden;
}
.modal-footer{
	clear: both;
}
#side_bar{
	position: fixed;
	top: 0px;
	z-index: -1;
}
.usersSideBar i.fa{
	padding-left: 10px;
	cursor: pointer;
}
nav{
	margin-bottom: 0px !important;
	border-radius: 0px !important;
}

.container{
	width: 100% !important;
}

small {
	display: block;
	line-height: 1.428571429;
	color: #999;
}
.noPadding{
	padding: 0;
}
.fa{
	cursor: pointer;
}

.navbar-nav>li>.dropdown-menu{
	padding: 10px 20px 10px 20px;
}